body {
    background: #000 url(Background.png) no-repeat center fixed;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    color: azure;
    text-shadow: 1px 1px 1px #000;
}

div#main {
    margin: auto;
    padding: 20px 60px 20px 60px;
    width: 90%;
    min-width: 300px;
    max-width: 1170px; 
    background-color: rgb(0,0,0, 0.8);
    border-radius: 10px;
}

a {
    color: #8294d3;
    text-decoration: none;
}

p {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}




h1, h2 {
    font-size: 30px;
    color: azure;
    border-radius: 5px;
    margin: 10px auto 10px auto;
    display: table;
    padding: 2px 30px;
}

h1 {
    background-color: rgb(0, 0, 0, 0);
    font-size: 50px;
}

ul#nav {
    padding: 3px;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    background-color: rgb(0,0,0,0);
    border-radius: 30px;
    margin: 30px auto 30px auto;
    font-size: 20px;
    min-width: 850px;
}

ul#nav li {
    display: inline;
}

ul#nav a {
    color: azure;
}

ul#nav li.selected {
    background-color: rgb(15, 15, 15);
}

.button, ul#nav li, table, form {
    white-space: nowrap;
    padding: 0px 3px 3px 3px;
    border: 1px solid rgb(0,0,0);
    border-radius: 5px;
    background-color: rgb(50,50,50);
}

ul#nav li {
   border-radius: 30px;
   padding: 10px;
}

form {
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 400px;
}

table {
    text-align:center;
    margin: auto;
}

.center
{
 text-align: center;
 list-style-position: inside;
}
ol.center li
{
 text-align: left;
 margin-left: 30%;
}

h2 {
    background-color: rgb(255, 255, 255, 0.04);
}

